<template>

<div>
        <!--Modal -->

            <div class="modal fade" id="BlogModal" tabindex="-1" role="dialog" aria-labelledby="BlogModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="BlogModalLabel">Blog</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="editMode ? updateBlog() : createblog()">
                            <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Blog Name</label>

                                <input 
                                type="text"
                                v-model="BlogForm.bname"
                                :class="{ 'is-invalid': BlogForm.errors.has('bname') }"
                                class="form-control" 
                                placeholder="Enter Your Blog Name"
                                >
                                <has-error :form="BlogForm" field="bname"></has-error>
                            </div>
                            <div class="form-group">
                                <label>Blog Description</label>
                                <textarea 
                                class="form-control"
                                type="text"
                                 v-model="BlogForm.bdescription"
                                rows="3" 
                                placeholder="Enter Description"
                                :class="{ 'is-invalid': BlogForm.errors.has('bdescription') }">
                                
                                </textarea>
                                <has-error :form="BlogForm" field="bdescription"></has-error>

                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Publish Date</label>

                                <input
                                type="date"
                                v-model="BlogForm.bpublish"
                                class="form-control" 
                                :class="{ 'is-invalid': BlogForm.errors.has('bpublish') }"
                                placeholder="Blog Publish Date"
                                >
                                <has-error :form="BlogForm" field="bpublish"></has-error>
                            </div>
                        
                        
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer ">
                                <button v-show="!editMode" type="submit" class="btn btn-primary">Create Blog</button>
                                <button v-show="editMode" type="submit" class="btn btn-primary">Update Blog</button>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        <!--Modal-->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="text-right mb-3">
                        <button class="btn btn-outline-primary" data-toggle="modal" data-target="#BlogModal" @click="addNewBlogModal">Create New Blog</button>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <td style="width:10%">Id</td>
                                <td style="width:15%">Blog Nmae</td>
                                <td style="width:45%">Blog Description</td>
                                <td style="width:15%">Publish Date</td>
                                <td style="width:15%">Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(blog, index) in blogs" :key="index">
                                <td>{{ blog.id }}</td>
                                <td>{{ blog.bname }}</td>
                                <td>{{ blog.bdescription }}</td>
                                <td>{{ blog.bpublish }}</td>
                                <td>
                                    <a @click.prevent="editBlog(blog)" class="btn btn-outline-danger">Edit</a>
                                    <a @click.prevent="deleteBlog(blog.id)" class="btn btn-outline-danger">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>    
</template>
<script>
import axios from 'axios'
import { Form } from 'vform'
export default {
    data() {
        return {
            editMode: false,
            blogs: {},
            BlogForm: new Form({
                bname:'',
                bdescription:'',
                bpublish:'',
           })
        }
    },
    methods: {
        addNewBlogModal(){
            this.editMode = false,
            this.BlogForm.reset();
            ('#BlogModal').modal('show')
        },
        updateBlog(){
            this.BlogForm.put('http://127.0.0.1:8000/api/blog')
        },
        editBlog(blog){
            this.editMode = true;
            this.BlogForm.fill(blog); 
            $('#BlogModal').modal('show');
        },
        createblog(){
            this.BlogForm.post('http://127.0.0.1:8000/api/blog')
            .then(() =>{
            //   console.log(response.data);
              this.BlogForm.reset();
                this.$toast.success({
                            title:'success',
                            message:'blog Created Successfully.'
                        });
                this.loadBlogs();
               ('#BlogModal').modal('hide')
            });
            
         },
        loadBlogs(){
            axios.get('http://127.0.0.1:8000/api/blog')
            .then((response) =>{   
                this.blogs = response.data;
                // console.log(response.data);
            })
        },
        deleteBlog(id){
            axios.delete(`http://127.0.0.1:8000/api/blog/`+id)
            .then(() => {
                this.$toast.success({
                    title:'Success!',
                    message:'Blogy deleted successfully.'
                });
                this.loadBlogs();
            })
        },
        
    },
    mounted(){
        
    },
    created() {
        this.loadBlogs();
    },
}
</script>
<style scoped>

</style>
