<template>
  <!-- <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
  </div> -->
  <div id="app">
    <Header/>
    <Sidebar/>
    <router-view></router-view>
    <Footer/>
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
   import Header from './components/Navbar.vue';
   import Sidebar from './components/Sidebar.vue';
   import Footer from './components/Footer.vue';

export default {
   name: 'App',
  components: {
    Header,
    Sidebar,
    Footer

    // HelloWorld
  }
}
</script>

<style>
/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */
</style>
